#banner-1 {
  margin-top: 40px;
}

#banner-2 {
  margin-top: 40px;
}
#banner-2 .gh-inner {
  padding-top: 40px;

  border-top: 1px solid var(--color-border);
}

.page-home-banner .banner-internal {
  position: relative;
  overflow: hidden;

  padding: 6rem;

  color: #ffffff;

  border-radius: 0.25rem;
}

.page-home-banner .banner-internal .background-photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(0.3);
}

.page-home-banner .banner-internal .title {
  position: relative;
  margin-bottom: 1rem;

  font-size: 3rem;
}

.page-home-banner .banner-internal .description {
  position: relative;
}

.page-home-banner .banner-internal .button-link {
  background-color: #ffffff;

  position: relative;

  display: inline-flex;
  margin-top: 2.5rem;
  padding: 1rem 2.5rem;

  color: #000000;

  border-radius: 0.5rem;
}

/* BANNER CLIENT */
.page-home-banner .banner-client .banner-image {
  width: 100%;
}

.page-home-banner .banner-client .banner-image.tablet,
.page-home-banner .banner-client .banner-image.mobile {
  display: none;
}

@media (max-width: 800px) {
  .page-home-banner .banner-client .banner-image.desktop {
    display: none;
  }

  .page-home-banner .banner-client .banner-image.tablet {
    display: block;
  }
}

@media (max-width: 680px) {
  .page-home-banner .banner-internal {
    padding: 4rem;
  }
}

@media (max-width: 500px) {
  .page-home-banner .banner-client .banner-image.tablet {
    display: none;
  }

  .page-home-banner .banner-client .banner-image.mobile {
    display: block;
  }
}

@media (max-width: 400px) {
  .page-home-banner .banner-internal {
    padding: 3rem;
  }
}
