<section id="banner-2" class="gh-outer page-home-banner">
  <div class="gh-inner">
    <div class="banner-container">
      {{!--
      <div class="banner-internal">
        <img
          src="https://images.unsplash.com/photo-1580440282860-8555b1ae102c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="background-photo"
        />
        <h2 class="title">Destaque sua empresa</h2>

        <p class="description">
          Oportunidade para aumentar sua presença online e impulsionar seu
          negócio.
        </p>

        <a href="/contato" class="button-link">Anuncie aqui</a>
      </div>
      --}}

      <div class="banner-client">
      	<a href="https://api.whatsapp.com/send?l=pt_br&phone=5543991129120" target="_blank" rel="noreferrer">
	      	<img src="{{asset "images/banners/banner-2/desktop.jpg"}}" class="banner-image desktop" />
	       	<img src="{{asset "images/banners/banner-2/tablet.jpg"}}" class="banner-image tablet" />
	        <img src="{{asset "images/banners/banner-2/mobile.jpg"}}" class="banner-image mobile" />
       </a>
      </div>
    </div>
  </div>
</section>
