<section id="page-home-youtube-upcoming-live-events" class="gh-outer">
  <img
    src="https://radiomirador.com.br/wp-content/uploads/2023/11/16999828966364879488322794579629-1140x570.jpg"
    class="background-photo"
  />

  <div class="gh-inner tomorrow-events-container">
    <h2 class="title">
      Amanhã tem transmissão ao vivo aqui no Guaraci News!
    </h2>

    <p class="description">
      Para não esquecer já deixe agendado e também confira nosso canal no
      <a
        href="https://www.youtube.com/@Guaracinews"
        target="_blank"
        rel="noreferrer"
        >Youtube</a
      >.
    </p>

    <div class="date-container">
      <span class="date">
        <span class="day"></span>
        <span class="month"></span>
      </span>

      <span class="divider"></span>

      <span class="hours"></span>
    </div>
  </div>

  <div class="gh-inner today-event-container">
    <h2 class="title">Hoje temos transmissão ao vivo!</h2>
    <div class="date-container">
      <span class="hours"></span>
    </div>

    <iframe
      src=""
      title=""
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      class="youtube-iframe"
    ></iframe>

    <p class="description">
      Para não esquecer já deixe agendado e também confira nosso canal no
      <a
        href="https://www.youtube.com/@Guaracinews"
        target="_blank"
        rel="noreferrer"
        >Youtube</a
      >.
    </p>
  </div>

  <div class="gh-inner live-event-container">
    <h2 class="title">Estamos ao vivo!</h2>

    <iframe
      src=""
      title=""
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      class="youtube-iframe"
    ></iframe>

    <p class="description">
      Para não esquecer já deixe agendado e também confira nosso canal no
      <a
        href="https://www.youtube.com/@Guaracinews"
        target="_blank"
        rel="noreferrer"
        >Youtube</a
      >.
    </p>
  </div>
</section>
