<section id="page-home-youtube-upcoming-live-events" class="gh-outer">
  <img
    src="https://radiomirador.com.br/wp-content/uploads/2023/11/16999828966364879488322794579629-1140x570.jpg"
    class="background-photo"
  />
  <div class="gh-inner">
    <h2 class="title">
      Está chegando o dia, amanhã tem transmissão ao vivo aqui no Guaraci News!
    </h2>

    <p class="description">
      Para não esquecer já deixe agendado e não deixe de conferir nosso canal no
      <a
        href="https://www.youtube.com/@Guaracinews"
        target="_blank"
        rel="noreferrer"
        >Youtube</a
      >.
    </p>

    <div class="date-container">
      <span class="date">
        <span class="day"></span>
        <span class="month"></span>
      </span>

      <span class="divider"></span>

      <span class="hours"></span>
    </div>
  </div>
</section>
