<section id="page-home-youtube-completed-live-events" class="gh-outer">
  <div class="gh-inner">
    <h2 class="gh-container-title">Últimas transmissões</h2>

    <div class="container-youtube-videos">
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
    </div>
  </div>
</section>
